@model IEnumerable<Online_Chess_Server.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if ((string)Session["UserRole"] == "admin")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName) (@Html.DisplayNameFor(model => model.User.UserName))
        </th>
        @{  if ((string)Session["UserRole"] == "admin")
            {
                <th>
                    @Html.DisplayNameFor(model => model.RatingChangeDate)
                </th>
            } }
        <th>
            @Html.DisplayNameFor(model => model.RatingValue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
                @if (item.User.UserName != null) 
                    {
               <text>(</text>@Html.DisplayFor(modelItem => item.User.UserName);<text >)</text>
                }
                
               
            </td>
            @{  if ((string)Session["UserRole"] == "admin")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.RatingChangeDate)
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.RatingValue)
            </td>
            @{
                if ((string)Session["UserRole"] == "admin")
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                }
            }
        </tr>
                }

</table>
