@model Online_Chess_Server.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
