@model IEnumerable<Online_Chess_Server.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if ((string)Session["UserRole"] == "admin")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayDate)
        </td>
@{
    if ((string)Session["UserRole"] == "admin")
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        }
    }
    </tr>
}

</table>
