@model IEnumerable<Online_Chess_Server.Models.Game>

@{
    ViewBag.Title = "Index";
}

@{
    if ((string)Session["UserRole"] == "admin")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table table-bordered table-hover"     style="background-color:white;">
    <tr>
        <th style="text-align:center;">
           Player1
        </th>
        <th style="text-align:center;">
            Player2
        </th>
        <th style="text-align:center;">
           Winner
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.GameLink)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.PlayDate)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="text-align:center;">
           <a href="@Url.Action("UserProfile","Users",new {userId=item.User.ID })">@item.User.FullName</a>
        </td>
        <td style="text-align:center;">
            <a href="@Url.Action("UserProfile","Users",new {userId=item.User1.ID })">@item.User1.FullName</a>
        </td>
        <td style="text-align:center;">
           @{

               if (Html.DisplayFor(modelItem => item.Result).ToString() == "1" )
               {
                   if (Html.DisplayFor(modelItem => item.User.FullName).ToString() != Html.DisplayFor(modelItem => item.User1.FullName).ToString())
                   {
                      @Html.DisplayFor(modelItem => item.User.FullName).ToString().Split()[0];
                   }
                   else {@Html.DisplayFor(modelItem => item.User.FullName).ToString().Split()[0];<text> (1)</text>
                   }
               }
               else if (Html.DisplayFor(modelItem => item.Result).ToString() == "-1")
               {
                   if (Html.DisplayFor(modelItem => item.User.FullName).ToString() != Html.DisplayFor(modelItem => item.User1.FullName).ToString())
                   {
                    @Html.DisplayFor(modelItem => item.User1.FullName).ToString().Split()[0];
                   }
                   else {@Html.DisplayFor(modelItem => item.User1.FullName).ToString().Split()[0]; <text> (2)</text>
        }
    }
              else {
                       string a = Html.DisplayFor(modelItem => item.User.FullName).ToString();
                       string b = a.Replace(a, " ");
                   <text>draw</text> @b;
                   }
               }
        </td>
        <td style="text-align:center;">
            <a href="@Html.DisplayFor(modelItem => item.GameLink)" target="_blank">view game</a>
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.PlayDate).ToString().Split()[0]
        </td>
@{
    if ((string)Session["UserRole"] == "admin")
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        }
    }
    </tr>
}

</table>
