@model IEnumerable<Online_Chess_Server.Models.Game>

<head>
    <style>
        @@media all and (max-width: 767px) {
            .container1 {
                width: 80%;
            }
        }

        @@media all and (max-width: 767px) {
            #ratingTable {
                margin-left: -20px;
            }
        }

        @@media all and (max-width: 717px) {
            #ratingTable {
                margin-left: -40px;
            }
        }

        @@media all and (max-width: 667px) {
            #ratingTable {
                margin-left: -60px;
            }
        }

        @@media all and (max-width: 617px) {
            #ratingTable {
                margin-left: -80px;
            }
        }

        @@media all and (max-width: 567px) {
            #ratingTable {
                margin-left: -100px;
            }
        }

        @@media all and (max-width: 525px) {
            #ratingTable {
                margin-left: -114px;
            }
        }
    </style>
</head>


@{
    if ((string)Session["UserRole"] == "admin")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<div id="fcctop">
    <div class="container1" style="width: 84%;     padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;">
        <div style="overflow-x:auto;">
            <table style="width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-collapse: inherit;
  border: 1px solid #351f0b;" class="table table-striped table-bordered">
                <thead>
                    <tr style="font-size: 18px;">
                        <th style="color: #336033 !important;  text-align: center;">White</th>
                        <th style="color: #336033 !important; text-align: center;">Black</th>
                        <th style="color: #336033 !important;  text-align: center;">Winner</th>
                        <th style="color: #336033 !important; text-align: center;">Game Link</th>
                        <th style="color: #336033 !important;text-align: center;">Play Date</th>
                        @{
                            if ((string)Session["UserRole"] == "admin")
                            {
                                <th style="color: #336033 !important; text-align: center;">Admin tools</th>
                            }
                        }
                    </tr>
                </thead>
                @foreach (var item in Model)
            {
                    <tr style="font-size: 18px;">
                        <td style="vertical-align: middle; text-align:center">
                            @{
                                string link1 = "http://graph.facebook.com/" + item.User.PictureID + "/picture?type=small";
                            }
                            <a href="@item.User.FacebookLink" target="_blank">
                                <img style="width: 40px;
  border: 2px solid #381F0B;
  border-radius: 4px;
  max-height: 40px;
  margin-right: 4px;" src=@link1 class="userimg" />
                            </a>
                            <span> <a href="@Url.Action("UserProfile","Users",new {userId=item.User.ID})">@item.User.FullName</a> </span>
                        </td>
                        <td style="vertical-align: middle; text-align:center">
                            @{
                                string link2 = "http://graph.facebook.com/" + item.User1.PictureID + "/picture?type=small";
                            }
                            <a href="@item.User1.FacebookLink" target="_blank">
                                <img style="width: 40px;
  border: 2px solid #381F0B;
  border-radius: 4px;
  max-height: 40px;
  margin-right: 4px;" src=@link2 class="userimg" />
                            </a>
                            <span> <a href="@Url.Action("UserProfile","Users",new {userId=item.User1.ID})">@item.User1.FullName</a> </span>
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            @{

                                if (Html.DisplayFor(modelItem => item.Result).ToString() == "1")
                                {
                                    <text>White </text>
                                }
                                else if (Html.DisplayFor(modelItem => item.Result).ToString() == "-1")
                                {
                                    <text>Black </text>
                                }

                                else
                                {
                                    string a = Html.DisplayFor(modelItem => item.User.FullName).ToString();
                                    string b = a.Replace(a, " ");
                                    <text>Draw</text> @b;
                                }
                            }
                        </td>
                        <td style="text-align: center;vertical-align: middle;">
                            <a href="@Html.DisplayFor(modelItem => item.GameLink)" target="_blank">view game</a>
                        </td>
                        <td style="text-align: center;vertical-align: middle;"> @Html.DisplayFor(modelItem => item.PlayDate).ToString().Split()[0] </td>
                        @{
                            if ((string)Session["UserRole"] == "admin")
                            {
                                <td style="text-align: center; vertical-align: middle;">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            }
                        }
                    </tr>
                            }
            </table>
            </div>
            <footer style="background-color: #381F0B;
  color: #eeeeee;
  height: 50px;
  width: 100%;text-align: center;
  padding-top: 5px;
  font-size: 18px;" id="gameFooter"></footer>
        </div>
</div>




