@model Online_Chess_Server.Models.UserProfileModel

<div style="background-color:#e3e2c4;" class="col-md-12">
    <br />
    <h1 style="text-align:center">Player Profile</h1>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <br />
            @{ if (Html.DisplayFor(model => model.UserName).ToString() != "")
            {
                    <dt>
                        Facebook NickName:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)

                    </dd>
                    <br />
                } }
            <dt>
                Lichess Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LichessName)
            </dd>
            <br />
            <dt>
                Current Rating:
            </dt>

            <dd>
                @Model.CurrentRating
            </dd>
            <br />
            <dt>
                Level:
            </dt>

            <dd>
                @Model.ImageName
            </dd>
            <br />

            <dt class="center-block">
                Honorary Title:
            </dt>

            <dd>
                @if (Model.ImageName == "Pawn")
                {
                    <img src="http://www.picz.ge/img/s2/1605/10/e/e95d91dbb21d.png" height="153px" width="100px" />
                }
                @if (Model.ImageName == "Bishop")
            {

                    <img src="http://www.picz.ge/img/s4/1605/10/3/3e42b767acf6.png" height="153px" width="120px" />
                }
                @if (Model.ImageName == "Knight")
            {
                    <img src="http://www.picz.ge/img/s3/1605/10/8/8778752c818d.png" height="153px" width="93px" />
                }
                @if (Model.ImageName == "Rock")
            {
                    <img src="http://www.picz.ge/img/s4/1605/10/9/95405841361f.png" height="153px" width="90px" />
                }
                @if (Model.ImageName == "Queen")
            {
                    <img src="http://www.picz.ge/img/s4/1605/10/c/ccc16a9a6c55.png" height="153px" width="140px" />
                }
                @if (Model.ImageName == "King")
                {
                    <img src="http://www.picz.ge/img/s2/1605/10/6/62e5550c3e19.png" height="153px" width="134px" />
                }

            </dd>
            </dl>
            <br />
</div>
    <div class="col-md-8">
       <dl> <dt style="text-align:center;">
            Player Statistics:
        </dt>

        <dd>
            <canvas id="myChart" width="200" height="100"></canvas>
        </dd>

        </dl></div>





    <script>
        var ctx = document.getElementById("myChart");
        var chartModels = @Html.Raw(Json.Encode(Model.Progress));

        var chartLabels = chartModels.map(function(v){return  v.Time;})
        var chartData = chartModels.map(function(v){ return v.Value;})
        debugger;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels:chartLabels,
                datasets: [{
                    label: 'Point',
                    data: chartData
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>
</div>